.blob-code-deletion {
    background-color: #FFEEBA;
  }
  
.blob-num-deletion {
    background-color: #FFCC33;
}

.blob-code-deletion .x {
    background-color: #FFCC33;
}

.blob-code-addition {
    background-color: #D5E3F9;
}

.blob-num-addition {
    background-color: #7FB1FB;
}

.blob-code-addition .x {
    background-color: #7FB1FB;
}

.open.octicon {
    color: #7FB1FB;
}

.closed.octicon, .reverted.octicon {
    color: #FFCC33;
}

.State--green {
    background-color: #7FB1FB;
}

.text-green {
    color: #7FB1FB!important;
}

.text-red {
    color: #FFCC33!important;
}

.diffstat-block-added {
    background-color: #7FB1FB;
}

.diffstat-block-deleted {
    background-color: #FFCC33;
}

span.no-nl-marker {
    color: #FFCC33;
}

.summary-stats li .octicon-git-branch {
    color: #7FB1FB;
}

.summary-stats li .octicon-issue-closed {
    color: #FFCC33;
}

.summary-stats li .octicon-issue-opened {
    color: #7FB1FB;
}

.btn-danger {
    color: #FFCC33;
    transition: none;
}

.Box--danger, .Box--danger .Box-body:last-of-type, .Box--danger .Box-row:first-of-type {
    border-color: #FFCC33;
}

.btn-primary {
    background-color: #7FB1FB;
}

.btn-primary.hover, .btn-primary:hover, [open]>.btn-primary {
    background-color: #D5E3F9;
}
